<header class="container-fluid">
  <div class="row">
      <div class="col-12 d-flex align-items-center">
        <div>
           <a href="{{ path('app_home') }}" class="w-25 p-4 fs-2"><img src="{{ asset('build/images/logo.svg') }}" alt="Logo" class="me-3" style="height: 100px;"></a>
        </div>
        <p class="h1 font-monospace fw-bold text-light">{{ controller_name }}</p>
      </div>
  </div>
</header>