<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Passwort zurücksetzen</title>
</head>
<body>
{% include 'partials/startHeader.html.twig' %}
<main class="container bgcustom-light-grey">
  <div class="row">
    <div class="col-12">
    <h2>Passwort zurücksetzen</h2>
    <p>Hallo {{ user.firstName }} {{ user.lastName }},</p>
    <p>Sie haben die Zurücksetzung Ihres Passworts angefordert. Klicken Sie auf den folgenden Link, um Ihr Passwort zurückzusetzen:</p>
    <p><a href="{{ url('app_change_password', { token: passwordToken, email: user.email }) }}">Passwort zurücksetzen</a>
    <p>Falls Sie diese Anfrage nicht gestellt haben, ignorieren Sie diese E-Mail bitte.</p>
    </div>
  </div>
</main>
</body>
</html>