<!-- Bootstrap Modale Box -->
<div class="modal fade text-dark" id="passwordResetModal" tabindex="-1" aria-labelledby="passwordResetModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header mb-2">
        <h2 class="modal-title" id="passwordResetModalLabel">Password vergessen Anfrage</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form name="passwordReset_form" onSubmit>
          <div class="mb-4 fs-4">
            <label for="reset-email">E-Mail-Adresse:</label>
            <input type="email" class="form-control p-3 fs-5" id="emailForPasswordReset" passwordReset-form-field='emailForPasswordReset' required>
          </div>
          <div class="form-message-container fs-5"></div>
        </form>
      </div>      
      <div>
     
      <div class="modal-footer ">    
        <p id="countdownMessage" class="me-auto fs-4 text-danger"></p>  
        <button type="button" class="btn btn-secondary fs-4" data-bs-dismiss="modal">Schließen</button>
        <button type="button" class="btn btn-primary fs-4" id="sendResetPasswordEmail">Senden</button>
      </div>
      
    </div>
  </div>
</div>